<div class="row">
  <div class="col-md-12">
    <div class="container">
      <mat-card class="mt-md-3 mb-md-3">
        <mat-card-content>
          <div class="text-center">
            <h2>Id:</h2>
            <h4>{{BookInfo.id}}</h4>
            <h2>Title:</h2>
            <h4>{{BookInfo.title}}</h4>
            <h2>Description:</h2>
            <h4>{{BookInfo.description}}</h4>
            <h2>PageCount:</h2>
            <h4>{{BookInfo.pageCount}}</h4>
            <h2>Excerpt:</h2>
            <h4>{{BookInfo.excerpt}}</h4>
            <h2>PublishDate:</h2>
            <h4>{{BookInfo.publishDate}}</h4>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
